body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #333;
    color: whitesmoke;
}

h1 {
    color: whitesmoke;
}

.todo-container {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

button {
    background-color: whitesmoke;
    color: #333;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

li.complete__task {
    content: '';
    text-decoration: line-through;
}

.completed {
    text-decoration: line-through;
    
}